<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faviourite</title>
    <link rel="stylesheet" href="/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/base.css">
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/bootstrap.js"></script>
    <script src="/lib/vue/vue.js"></script>
    <script src="/js/base.js"></script>
</head>

<body>
    <div id="app">
        <recipe-nav @filter-data="filterData"></recipe-nav>

       <div class="container content mt-5">
        <h2 style="text-align: center;">My Favourite Recipes</h2>
            <div v-if="filterList.length == 0">
                <div class="jumbotron">
                    <h1 style="text-align: center;">No Favourite Recipe Added</h1>
                </div>
            </div>
            <div v-else class="media mb-5" v-for="(item,index) in filterList" :key="index">
                <a class="mr-4 col-md-5" :href="`/detail.html?recipeid=${item.RecipeId}`"><img :src="item.RecipePicture"
                        class="left-img"></a>
                <div class="media-body">
                    <p class="category">{{item.RecipeCategory}}
                        <span class="delete-txt" @click="deleteFavourte(item.RecipeId)">Delete</span>
                    </p>
                    <h4 class="name"><a :href="`/detail.html?recipeid=${item.RecipeId}`">{{item.RecipeName}}</a></h4>
                    <p class="time">Cooking Time: {{item.RecipeTime}}</p>
                    <p class="time">Add Time: {{item.AddTime  | formate}}</p>
                </div>
            </div>

        </div>
        <div aria-live="polite" aria-atomic="true" class="toast-wrap">
            <div class="toast" style="position: absolute; top: 0; right: 0;">
                <div class="toast-header">
                    <strong class="mr-4">Message</strong>
                    <small>1 second ago</small>
                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="toast-body">
                    Deleted successfully
                </div>
            </div>
        </div> 
    </div>
    <script>

        new Vue({
            el: '#app',
            mixins: [userMixin, toastMixin, navCategoriesMixin],
            
            mounted: function () {
                this.validateLogin()
            },
            methods: {
                deleteFavourte: function (RecipeId) {
                    var that = this
                    var UserId = that.userInfo.UserID
                    $.ajax({
                        url: `/api/love/${UserId}/${RecipeId}`,
                        type: 'delete',
                        success: function (res) {
                            if (res.code == 1) {
                                $('.toast').toast({
                                    delay: 2000
                                }).toast('show')
                                $.ajax({
                                    url: '/api/love/' + that.userInfo.UserID,
                                    type: 'get',
                                    success: function (res) {
                                        that.filterList = res.list
                                    }
                                })
                            }
                        }
                    })
                }
            }
        })
    </script>
</body>

</html>